<div class="recipe-selection">
	<h1>Recipe Selection</h1>

	<!-- Картка рецепту з кнопками для свайпу -->
	<div
		class="recipe-card"
		*ngIf="randomRecipe"
		(swipeleft)="onSwipe(randomRecipe, 'dislike')"
		(swiperight)="onSwipe(randomRecipe, 'like')"
	>
		<img src="recipe-image.jpg" alt="Recipe Image" />
		<h2>{{ randomRecipe.name }}</h2>
		<p>{{ randomRecipe.description }}</p>

		<div class="swipe-actions">
			<button (click)="onSwipe(randomRecipe, 'like')">Like</button>
			<!-- Додати до "Мої рецепти" -->
			<button (click)="onSwipe(randomRecipe, 'dislike')">Dislike</button>
			<!-- Відхилити -->
		</div>
	</div>
</div>
