.documents-container {
  display: flex; /* Визначаємо, що елементи будуть в ряд */
  justify-content: space-between; /* Простір між елементами */
  gap: 20px; /* Менше відступів між блоками */
}
.recipe-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.documents-main {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Менше відступів для щільнішого вигляду */
}

.documents-main-row {
  margin-bottom: 10px;
}

.documents__title {
  font-size: 18px;
  font-weight: bold;
}

.documents-tags {
  margin-top: 10px;
}

.documents-tags__item {
  padding: 8px;
  margin: 5px 0;
  background-color: #ff9800; /* Оранжевий колір для інгредієнтів */
  border-radius: 5px;
  cursor: pointer;
}

.documents-tags__item:hover {
  background-color: #fb8c00; /* Трохи темніший відтінок оранжевого при наведенні */
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

input, textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-upload input[type="file"] {
  padding: 5px;
}
