<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<!-- <div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>-->
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<!-- <img [src]="userService.thumb" alt="" /> -->
					</div>
				</div>
				<div class="documents-header__title">Title header</div>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="burger-wrap"
					class="burger-wrap"
				>
					<div
						[class.burger--close]="isMenuOpen"
						class="burger"
					></div>
				</div>
			</div>
			<div
				[class.documents-sidebar--open]="isMenuOpen"
				class="documents-sidebar"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img
							src="https://rud.ua/uploads/under_recipe/retsept_mlyntsiv_na_molotsi.jpg"
							alt=""
						/>
					</div>
					<div class="documents-sidebar__title">Млинці</div>
					<div class="documents-sidebar__description">
						Простий рецепт млинців на молоці
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">Інгредієнти</div>
						<div class="documents__description">
							Для рецепту вам потрібно:
						</div>
						<div class="documents-tags">
							<div class="documents-tags__wrap">
								<div
									class="documents-tags__item"
									*ngFor="let ingredients of recipe.ingredients"
								>
									{{ingredients}}
								</div>
							</div>
						</div>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">Фази</div>
						<div class="documents__description">
							Рецепт поділяється на:
						</div>
						<div class="documents-tags">
							<div class="documents-tags__wrap">
								<div
									class="documents-tags__item"
									*ngFor="let phases of recipe.phases"
								>
									{{phases}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
