<p>Page Roulette is connected</p>

<div class="roulette">
	<h1>Recipe Roulette</h1>

	<!-- Кнопка запуску рулетки -->
	<button class="spin-button">Spin the Roulette</button>

	<!-- Випадковий рецепт зі свайпом -->
	<div
		class="random-recipe"
		*ngIf="randomRecipe"
		(swipeleft)="onSwipe(randomRecipe)"
	>
		<img src="recipe-image.jpg" alt="Recipe Image" />
		<h2>{{ randomRecipe.name }}</h2>
		<p>{{ randomRecipe.description }}</p>
		<button>View Recipe</button>
	</div>

	<div class="documents-main">
		<div class="documents-main-content">
			<app-roulettes
				*ngFor="let roulettes of roulette"
				[roulettes]="roulettes"
			></app-roulettes>
		</div>
	</div>
</div>
