<p>Page Recipecreationpage is connected</p>

<div class="recipe-creation">
    <h1>Create a New Recipe</h1>
    
    <!-- Форма для введення рецепту -->
    <form>
      <label for="recipe-name">Recipe Name</label>
      <input type="text" id="recipe-name" placeholder="Enter recipe name" />
      
      <label for="ingredients">Ingredients</label>
      <textarea id="ingredients" placeholder="List ingredients here"></textarea>
      
      <label for="steps">Steps</label>
      <textarea id="steps" placeholder="Describe the steps here"></textarea>
      
      <label for="recipe-image">Recipe Image</label>
      <input type="file" id="recipe-image" />
      
      <button type="submit">Save Recipe</button>
    </form>
  </div>
  